@model CellarBotHome.Models.Beer

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Beer</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.brewery_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.brewery_id)
                @Html.ValidationMessageFor(model => model.brewery_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name)
                @Html.ValidationMessageFor(model => model.name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cat_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cat_id)
                @Html.ValidationMessageFor(model => model.cat_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.style_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.style_id)
                @Html.ValidationMessageFor(model => model.style_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.abv, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.abv)
                @Html.ValidationMessageFor(model => model.abv)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ibu, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ibu)
                @Html.ValidationMessageFor(model => model.ibu)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.srm, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.srm)
                @Html.ValidationMessageFor(model => model.srm)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.upc, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.upc)
                @Html.ValidationMessageFor(model => model.upc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.filepath, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.filepath)
                @Html.ValidationMessageFor(model => model.filepath)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description)
                @Html.ValidationMessageFor(model => model.description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.add_user, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.add_user)
                @Html.ValidationMessageFor(model => model.add_user)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.last_mod, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.last_mod)
                @Html.ValidationMessageFor(model => model.last_mod)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
