@model CellarBotHome.Models.Beer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Beer</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            Brewery
        </dt>

        <dd>
            @Html.ActionLink(Model.Brewery.name, "Details", "Brewery", new { id = Model.brewery_id }, new { })
        </dd>

        <dt>
            Category
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.cat_name)
        </dd>

        <dt>
            Style
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Style.style_name)
        </dd>

        @if (Model.abv > 0)
        {
            <dt>
                @Html.DisplayNameFor(model => model.abv)
            </dt>
        
            <dd>
                @Html.DisplayFor(model => model.abv)%
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.imagepath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagepath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
