@using CellarBotHome.Models;
@using PagedList;
@using PagedList.Mvc;

@if (ViewBag.OnePageOfBeers.Count > 0)
{
    <h2>Please select the beer you wish to add</h2>
    <ul>
        @foreach (sp_searchBeers_Result beer in ViewBag.OnePageOfBeers)
        {
            <li>@Html.ActionLink(beer.brewery_name + " - " + beer.beer_name, ViewContext.RouteData.GetRequiredString("action"), new { id = ViewBag.CellarID, beerId = beer.beer_id })</li>
        }
    </ul>


    <!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
    @Html.PagedListPager((PagedList.IPagedList)ViewBag.OnePageOfBeers, searchPage => Url.Action(ViewContext.RouteData.GetRequiredString("action"), new { id = ViewBag.CellarID, searchPage, beerSearchHint = ViewBag.SearchTerm }))
    <div>
        <h3>Don't see your beer?</h3>
        <p>Feel free to @Html.ActionLink("add it", "Create", "Beer", new { cellarId = ViewBag.CellarID }, null). :)</p>
    </div>
}
else
{
    <h2>No Beers Found matching '@ViewBag.SearchTerm'</h2>
    <div>
        <p>Feel free to @Html.ActionLink("add one", "Create", "Beer", new { cellarId = ViewBag.CellarID }, null). :)</p>
    </div>
}