@model CellarBotHome.Models.Cellar

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Cellar</h4>
    <div>@Html.ActionLink("Add to cellar", "AddToCellar", "Cellar")</div>
    <ul>
        @foreach (var ce in Model.CellarEntries)
        {
            <li>@ce.Beer.Brewery.name - @ce.Beer.name (@ce.Count)</li>
        }
    </ul>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
