@model CellarBotHome.Models.Cellar

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Cellar</h4>
    <div>@Html.ActionLink("Add to cellar", "AddToCellar", "Cellar", new { id = Model.ID }, null)</div>

    @if (Model.CellarEntries.Any())
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>
                        Brewery Name
                    </td>
                    <td>
                        Beer Name
                    </td>
                    <td>
                        Year
                    </td>
                    <td>
                        Count
                    </td>
                    <td>
                        Notes
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var ce in Model.CellarEntries.OrderBy(obj => obj.Beer.Brewery.name))
                {
                    <tr>
                        <td>@ce.Beer.Brewery.name</td>
                        <td>@ce.Beer.name</td>
                        <td>@ce.Year</td>
                        <td>@ce.Count</td>
                        <td>@ce.Notes</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Nothing in your cellar!</p>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
